<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.1.xsd
                             http://www.springframework.org/schema/tx
                             http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 开启注解处理器 -->
    <context:annotation-config/>
    <!-- 设置需要进行Spring注解扫描的类包 -->
    <context:component-scan base-package="org.test" use-default-filters="false">
        <!--  扫描符合@Service @Repository @Controller的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>

    <bean name="configFiles" class="java.util.ArrayList">
        <constructor-arg >
            <list>
                <value>classpath:/config.local.properties</value>
                <value>classpath:/web.local.properties</value>
            </list>
        </constructor-arg>
    </bean>
    <!-- 主要配置(必须) -->
    <import resource="classpath:spring-system.xml"/>
    <import resource="classpath:springweb-system.xml"/>

    <!--jdbc配置 start-->
    <bean id="testDataSource" parent="dataSource">
        <property name="driverClass" value="${fwork.driver}"/>
        <property name="jdbcUrl" value="${fwork.url}"/>
        <property name="user" value="${fwork.username}"/>
        <property name="password" value="${fwork.password}"/>
    </bean>
    <!--jdbc配置 end-->
    <bean id="testSqlSession" parent="sqlSession">
        <property name="dataSource" ref="testDataSource"/>
        <property name="sqlType" value="${default.db}"/>
    </bean>
    <!--对该dataSource增加注解事务管理 start-->
    <bean name="shopTm" parent="transactionManager">
        <property name="dataSource" ref="testDataSource"/>
    </bean>
    <tx:annotation-driven proxy-target-class="true" transaction-manager="shopTm"/>

    <bean name="mJSLocaleFilter" parent="jsLocaleFilter"/>
    <bean name="mCaptchaFilter" parent="captchaFilter"/>

    <!--对该dataSource增加注解事务管理 end-->
    <bean class="org.test.commons.TestWebLauncher" init-method="main" destroy-method="exit">
        <property name="systemCatchSize" value="${cache.system.size}"/>
        <property name="temporaryCatchSize" value="${cache.temporary.size}"/>
    </bean>


</beans>
