<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 该路径下的资源不用过滤 -->
    <sec:http pattern="/" security="none"/>
    <sec:http pattern="/common/js/ext/resources/themes/images/access/panel" security="none"/>
    <sec:http pattern="/admin/admin!login.action" security="none"/>
</beans>