debug.model=true
##默认数据库类型与DBType声明一致
default.db=DB2
#{$dsFile}
##pool
pool.c3p0.maxPoolSize = 100
pool.c3p0.minPoolSize = 10
pool.c3p0.initialPoolSize = 2
pool.c3p0.acquireIncrement = 2
pool.c3p0.maxStatements=1000
pool.c3p0.maxIdleTime=300
pool.c3p0.idleConnectionTestPeriod=80

##cacheMessage
cache.system.size = 512
cache.temporary.size = 512