<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <import resource="spring-system.xml"/>
    <import resource="security-system.xml"/>
    <import resource="security-system.xml"/>


    <bean id="secDataSource" parent="dataSource">
        <property name="driverClass" value="${shop.driver}"/>
        <property name="jdbcUrl" value="${shop.url}"/>
        <property name="user" value="${shop.username}"/>
        <property name="password" value="${shop.password}"/>
    </bean>

    <bean id="secSqlSession" parent="sqlSession">
        <property name="dataSource" ref="secDataSource"/>
    </bean>

    <bean name="jCaptchaFilter" class="org.core.common.JCaptchaFilter">
        <property name="captchaService" ref="captchaService"/>
    </bean>

    <bean class="org.core.security.common.SecurityBoot" init-method="init" destroy-method="exit"/>
</beans>