<!-- 错误页定义 start-->
<error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/html/error/page.html</location>
</error-page>
<error-page>
    <error-code>403</error-code>
    <location>/html/error/page_403.html</location>
</error-page>
<error-page>
    <error-code>404</error-code>
    <location>/html/error/page_404.html</location>
</error-page>
<error-page>
    <error-code>500</error-code>
    <location>/html/error/page_500.html</location>
</error-page>
<!-- 错误页定义 end-->