<!-- 验证码图片生成 -->
<filter>
    <filter-name>jCaptchaFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
        <param-name>targetFilterLifecycle</param-name>
        <param-value>true</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>jCaptchaFilter</filter-name>
    <url-pattern>/captcha.jpg</url-pattern>
</filter-mapping>