<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                    http://www.springframework.org/schema/mvc
                    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启注解处理器 -->
    <context:annotation-config/>
    <!-- 设置需要进行Spring注解扫描的类包 -->
    <context:component-scan base-package="org.smarty.web" use-default-filters="false">
        <!-- 扫描符合@Service的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>
    <!-- 对静态资源文件的访问 -->
    <mvc:resources mapping="/images/**" location="${resources.images}" cache-period="${resources.cache_period}"/>
    <mvc:resources mapping="/js/**" location="${resources.js}" cache-period="${resources.cache_period}"/>
    <mvc:resources mapping="/css/**" location="${resources.css}" cache-period="${resources.cache_period}"/>
    <mvc:resources mapping="/upload/**" location="${resources.upload}" cache-period="${resources.cache_period}"/>

    <!-- ======================================== -->
    <!-- 拦截器定义 -->
    <bean id="loginVerifyInterceptor" class="org.smarty.web.http.LoginVerifyInterceptor">
        <property name="sessionId" value="${login.session.id}"/>
        <property name="cookieName" value="${login.cookie.name}"/>
    </bean>
    <!-- mapping -->
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="order" value="0"/>
    </bean>
    <!-- view resolver-->
    <bean id="beanNameViewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="0"/>
    </bean>
    <bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="requestContextAttribute" value="${context.path.name}"/>
        <property name="prefix" value="${resources.ftl}"/>
        <property name="viewNames" value="*.ftl"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="cache" value="true"/>
        <property name="order" value="1"/>
    </bean>
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="prefix" value="${resources.jsp}"/>
        <property name="viewNames" value="*.jsp,*.do"/>
        <property name="cache" value="false"/>
        <property name="order" value="2"/>
    </bean>
    <!-- resolver-->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="${i18n.cookie_name}"/>
        <property name="cookieMaxAge" value="${i18n.cookie_max_age}"/>
        <property name="defaultLocale" value="${i18n.default_locale}"/>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="resolveLazily" value="true"/>
        <property name="maxUploadSize" value="${upload.max_size}"/>
    </bean>
    <bean name="responseStatusExceptionResolver"
          class="org.springframework.web.servlet.mvc.annotation.ResponseStatusExceptionResolver">
        <property name="order" value="0"/>
    </bean>
    <bean name="defaultExceptionResolver"
          class="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver">
        <property name="order" value="1"/>
    </bean>
    <!-- method handler adapter -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <!-- messageConverters属性的配置可以解决JSON返回中文为问号的问题 -->
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=utf-8</value>
                            <value>text/plain;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    <!-- 国际化 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="cacheSeconds" value="-1"/>
        <property name="basenames">
            <list>
                <value>${i18n.names}</value>
            </list>
        </property>
    </bean>
    <!-- freemarker configurer-->
    <bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="${freemarker.template_load_path}"/>
        <property name="defaultEncoding" value="${freemarker.default_encoding}"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">${freemarker.template_update_delay}</prop>
                <prop key="default_encoding">${freemarker.default_encoding}</prop>
                <prop key="locale">${freemarker.locale}</prop>
                <prop key="classic_compatible">${freemarker.classic_compatible}</prop>
                <prop key="whitespace_stripping">${freemarker.whitespace_stripping}</prop>
                <prop key="url_escaping_charset">${freemarker.url_escaping_charset}</prop>
                <prop key="date_format">${freemarker.date_format}</prop>
                <prop key="time_format">${freemarker.time_format}</prop>
                <prop key="datetime_format">${freemarker.datetime_format}</prop>
                <prop key="number_format">${freemarker.number_format}</prop>
                <prop key="boolean_format">${freemarker.boolean_format}</prop>
                <prop key="tag_syntax">${freemarker.tag_syntax}</prop>
                <prop key="auto_import">${freemarker.auto_import}</prop>
            </props>
        </property>
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape">
                    <bean class="freemarker.template.utility.XmlEscape"/>
                </entry>
            </map>
        </property>
    </bean>
    <!-- 过滤器定义-->
    <bean id="captchaFilter" class="org.smarty.web.http.CaptchaFilter" abstract="true">
        <property name="captchaService" ref="captchaService"/>
    </bean>
    <bean id="jsLocaleFilter" class="org.smarty.web.http.JSLocaleFilter" abstract="true">
        <property name="freemarkerManager" ref="freemarkerManager"/>
        <property name="jsFtl" value="${template.jsFtl}"/>
    </bean>
    <!-- 扩展定义 -->
    <!-- 模版配置 -->
    <bean id="freemarkerManager" class="org.smarty.web.commons.FreemarkerManager">
        <property name="freeMarkerConfigurer" ref="freemarkerConfigurer"/>
    </bean>

    <!-- 生成静态页面 -->
    <bean id="generateHtml" class="org.smarty.web.commons.GenerateHtml">
        <property name="freemarkerManager" ref="freemarkerManager"/>
        <property name="cachePath" value="${resources.static_html}"/>
    </bean>

    <bean id="captchaService" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService"
          lazy-init="true">
        <property name="captchaEngine">
            <bean class="org.smarty.web.commons.CaptchaEngine"/>
        </property>
        <!--验证码过期时间-->
        <property name="minGuarantedStorageDelayInSeconds" value="600"/>
    </bean>
</beans>