<?xml version="1.0" encoding="UTF-8"?>
<sqls>
    <getByAdmin>
        SELECT
            A.pk_id AS admin_pk_id,
            A.department AS admin_department,
            A.email AS admin_email,
            A.is_enabled AS admin_is_enabled,
            A.is_expired AS admin_is_expired,
            A.is_locked AS admin_is_locked,
            A.is_credentials_expired AS admin_is_credentials_expired,
            A.locked_date AS admin_locked_date,
            A.login_date AS admin_login_date,
            A.login_failure_count AS admin_login_failure_count,
            A.login_ip AS admin_login_ip,
            A.name AS admin_name,
            A.password AS admin_password,
            A.username AS admin_userName,
            AR.pk_id AS pk_id,
            AR.create_date AS create_date,
            AR.modify_date AS modify_date,
            R.pk_id AS role_pk_id,
            R.description AS role_description,
            R.is_system AS role_is_system,
            R.name AS role_name,
            R.value AS role_value
        FROM
            FK_ADMIN_ROLE AS AR
        RIGHT JOIN
            FK_ADMIN AS A ON AR.admin_id = A.pk_id
        RIGHT JOIN
            FK_ROLE AS R ON AR.role_id = R.pk_id
        WHERE A.is_locked=:isLocked

    </getByAdmin>
</sqls>