<bean name="jCaptchaFilter" class="org.smarty.core.common.JCaptchaFilter">
    <property name="captchaService" ref="captchaService"/>
</bean>
<!-- 配置JCaptcha验证码功能 -->
<bean name="captchaService" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService">
    <property name="captchaEngine" >
        <bean class="org.smarty.core.common.JCaptchaEngine"/>
    </property>
    <!--验证码过期时间-->
    <property name="minGuarantedStorageDelayInSeconds" value="600"/>
</bean>