    <!--jdbc配置 start-->
    <bean id="#{$dsname}DataSource" parent="dataSource">
        <property name="driverClass" value="${#{$dsname}.driver}"/>
        <property name="jdbcUrl" value="${#{$dsname}.url}"/>
        <property name="user" value="${#{$dsname}.username}"/>
        <property name="password" value="${#{$dsname}.password}"/>
    </bean>
    <!--jdbc配置 end-->